<div id="commonFooter">
    <p class="contactTie">
        webに関するお悩み/ご相談は、 <br/>お気軽に <a href="/about/#contact">お問い合わせ</a>よりご連絡ください。
    </p>
    <div class="footerTie">
        chatbox.inc@2015
    </div>
</div>