<header id="commonHeader">
    <ul>
        <li style="background: black">
            <a href="/">
                <span class="hidden-xs">top</span>
                <span class="visible-xs"><i class="glyphicon glyphicon-home"></i></span>
            </a>
        </li>
        <li style="background: #CA3C3C">
            <a href="/works">
                <span class="hidden-xs">works</span>
                <span class="visible-xs"><i class="glyphicon glyphicon-wrench"></i></span>
            </a>
        </li>
        <li style="background: #1CB88B">
            <a href="/about">
                <span class="hidden-xs">about</span>
                <span class="visible-xs"><i class="glyphicon glyphicon-question-sign"></i></span>
            </a>
        </li>
        <li style="background: #DF7529">
            <a href="/about/#contact">
                <span class="hidden-xs">contact</span>
                <span class="visible-xs"><i class="glyphicon glyphicon-adjust"></i></span>
            </a>
        </li>
        <li style="background: #42B8DD">
            <a href="https://www.facebook.com/chatbox.inc" target="_blank">
                <span class="hidden-xs">like us</span>
                <span class="visible-xs"><i class="glyphicon glyphicon-star"></i></span>
            </a>
        </li>
    </ul>
</header>
