// menu nabigation
#commonFooter{
  @include fullWidth();
  text-align: center;
  margin-top: 2em;
  .contactTie{
    margin-bottom: 2em;
  }
  .footerTie{
    padding: 1em;
    height: 7em;
    color: white;
    background: #333;
  }
}



