<%- partial('_partial/common/header') %>

<div id="pageAbout">
    <h1 id="about">会社概要</h1>

    <div class="greet">
        <p>大阪を拠点に、全国のweb制作案件に対応しております。</p>
        <p>お困りの事などございましたら、お気軽にご連絡/ご相談ください。</p>
    </div>

    <dl class="dl-horizontal">
        <dt>名称</dt>
        <dd>株式会社 chatbox (ちゃっとぼっくす) </dd>
        <dt>設立</dt>
        <dd>2014年 10月 01日</dd>
        <dt>代表者</dt>
        <dd>代表取締役 後藤 知宏 (ごとう ともひろ)</dd>
        <dt>所在地</dt>
        <dd>〒534-0027 <br/> 大阪府大阪市都島区中野町 3-8-26 #301</dd>
        <dt>URL</dt>
        <dd>http://chatbox-inc.com</dd>
        <dt>email</dt>
        <dd>chatbox.soft@gmail.com</dd>
    </dl>

    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3280.1084885680707!2d135.52635242855828!3d34.702443499427716!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1420453727051"
            frameborder="0"></iframe>

    <h1 id="contact">お問い合わせ</h1>

    <div class="greet">
        <p>webに関するお悩み、ご相談ございましたら、お気軽にご連絡ください。</p>
        <p>お問い合わせの際には、返信の連絡先をお忘れないようよろしくお願いします。</p>
    </div>

    <dl class="dl-horizontal">
        <dt>代表電話</dt>
        <dd>090 - 6322 - 0733</dd>
        <dt>email</dt>
        <dd>chatbox.soft@gmail.com</dd>
        <dt>facebook</dt>
        <dd><a href="https://www.facebook.com/chatbox.inc">https://www.facebook.com/chatbox.inc</a></dd>
    </dl>


</div>
<%- partial('_partial/common/footer') %>
