<%- partial('_partial/common/header') %>
<div class="mkknHero">
    <h1>chatbox.inc</h1>
    <div class="heroImg"></div>
</div>
<div class="mkknBrief">
    <div class="row">
        <div class="col-sm-4 logoArea">
            <img src="/img/logo.png" class="logoImg" alt=""/>
            <p>chatbox.inc</p>
        </div>
        <div class="col-sm-8">
            <h2>webのトータルコーディネイトで <br/>ビジネスの可能性を加速させます</h2>
            <p>時代の流れに伴って増加するwebの重要性。広告や販売、分析などあらゆる機会で活躍するwebの技術をお客様のビジネスにマッチする形で、適切に導入させていただきます。</p>

            <p class="skillList">
                <span class="label label-info">webページ</span>
                <span class="label label-info">webシステム</span>
                <span class="label label-info">CMS制作</span>
                <span class="label label-info">スマートフォン</span>
                <span class="label label-info">HTML5アプリ</span>
                <span class="label label-info">印刷物制作</span>
                <span class="label label-info">...etc</span>
            </p>

        </div>
    </div>
</div>

<div class="mkknContent row">
    <div class="col-sm-6">
        <h3>主な導入実績</h3>
        <div class="in5">
            <p>・都市情報ポータルサイトの独自CMS開発</p>
            <p>・ポイントカードWeb照会システムの開発</p>
            <p>・都市情報ポータルサイトの独自CMS制作</p>
            <p class="text-right"><br/>より詳しい導入実績は <a href="/works">こちら</a>を御覧ください。</p>
        </div>
    </div>
    <div class="col-sm-6">
        <h3>お問い合わせ</h3>
        <div class="in5">
            <p>会社概要は <a href="/works">こちら</a>からご確認ください。</p>
            <p>tel: 090 - 6322 -0733</p>
            <p>mail: chatbox.soft@gmail.com</p>
        </div>
    </div>
</div>
<%- partial('_partial/common/footer') %>

